# Dependencias
/node_modules

# Archivos de compilación (producción)
/dist

# Archivos de entorno local (contienen claves secretas)
.env
.env.*
!.env.example

# Archivos de log de los gestores de paquetes
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de configuración de editores de código e IDEs
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db